@model IAsyncEnumerable<core.Models.File>

<div class="box-shadow">
    <label class="border" id="breadcrumbs">@ViewData["Breadcrumbs"]</label>
</div>
<table id="partial_table" class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">EXT</th>
            <th scope="col">Owner</th>
        </tr>
    </thead>
    <tbody>

        @{
            int i = 0;
            if (!String.Equals(ViewData["Breadcrumbs"], "wwwroot/files"))
            {
                <tr id="backBtn">
                    <td  style="padding-top: 0px; padding-bottom: 0px; font-size: 20px;">&#8629;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }

            await foreach (var item in Model)
            {

                <tr>
                    <td><a asp-controller="Api" asp-action="GetFile" asp-route-id="@i">@item.Name</a></td>
                    <td>@Utility.BytesToStringOptimized(item.Size)</td>
                    <td>@item.Ext</td>
                    <td>@item.Owner</td>
                </tr>


                i++;
            }
        }
    </tbody>
</table>
