@model IEnumerable<FileInfo>

<div class="box-shadow">
    <label class="border" id="breadcrumbs">@ViewData["Breadcrumbs"]</label>
</div>
<table id="partial_table" class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">EXT</th>
            <th scope="col">Modified</th>
        </tr>
    </thead>
    <tbody>

        @{
            int i = 0;
            if (!String.Equals(ViewData["Breadcrumbs"], "wwwroot/files"))
            {
                <tr ondblclick="FetchTable(-1)">
                    <td  style="padding-top: 0px; padding-bottom: 0px; font-size: 20px;">&#8629;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }

            foreach (var item in Model)
            {

                    @if ((item.Attributes & FileAttributes.Directory) == FileAttributes.Directory)
                    {
                        <tr ondblclick="FetchTable(@i)">
                            <td >[@item.Name]</td>
                            <td>[DIR]</td>
                            <td>@item.Extension</td>
                            <td>@item.LastWriteTime</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td><a asp-controller="Api" asp-action="GetFile" asp-route-id="@i">@item.Name</a></td>
                            <td>@Utility.BytesToStringOptimized(item.Length)</td>
                            <td>@item.Extension</td>
                            <td>@item.LastWriteTime</td>
                        </tr>

                    }


                i++;
            }
        }
    </tbody>
</table>

