@model IEnumerable<core.Models.User>
@{
    ViewData["Title"] = "User List";
}
<style>

    #editBtn {
        font-size: 1 rem;
    }

</style>

<h1>User List</h1>
<a href="@Url.Action("AddUser", "Manager")" class="btn btn-dark border-secondary mb-3">Create New User</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Uname</td>
                <td>@user.Role</td>
                <td>
                    <a href="@Url.Action("Edit", "Manager", new { id = user.Id })" data-tag='@user.Uname' class="btn btn-dark btn-outline-warning">Edit</a>
                    <a href="@Url.Action("DeleteUser", "ManagerApi", new { id = user.Id })" data-tag='@user.Uname' class="btn btn-dark btn-outline-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('a.btn-outline-danger').bind('click',async function(e){
        e.preventDefault();
        const user = e.currentTarget.dataset.tag;
        const modal = $('#modalConfirm');
        const ref = e.currentTarget.href;
        $('div.modal-body p').html(`Are you sure you want to DELETE ${user}?`);
        const modalAccept = $('.modal-footer button#confirm');
        modalAccept.off();
        modalAccept.click(async function(btn){
            try{
               const response =  await fetch(ref,{method:"DELETE"});
                if(response.ok){
                   location.reload();
                }

            }catch(ex){
                alert(ex);
            }
        })


        modal.modal('show');
    });


</script>
