@using web.Controllers
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <meta http-equiv="Content-Security-Policy" content="
        base-uri 'self';
        default-src 'self';
        img-src data: https:;
        object-src 'none';
        script-src 'self';
        style-src 'self' 'unsafe-inline';
        connect-src 'self';
        upgrade-insecure-requests;" />
@{string path = Context.Request.Path.Value?.ToLower() ?? "/";}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home Server</title>
        <!--<link rel="stylesheet" rel="preload" href="/dist/bootstrap.min.css"/>-->
    <link rel="stylesheet" rel="preload" href="/dist/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/web.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100" data-bs-no-jquery="true">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Index" asp-action="Index">Home Server</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbar-main">
                    <ul class="nav-underline navbar-nav d-flex">
                        <li class="nav-item">
                            <a class='nav-link @(path =="/" ? "active":"") navbar-element'
                                    hx-get='@Url.Action("Index","Index")' hx-target='#main' hx-swap='innerHTML' hx-push-url="true"
                                   data-ajax-success="window.mainNavHandler" asp-controller="Index" asp-action="Index" asp-area=""  aria-current="page">Index</a>
                                   </li>
                        @{

                        if (!User.Identity?.IsAuthenticated ?? false)
                        {
                        <li class="nav-item">
                            <a class='nav-link @(path.StartsWith("/login")? "active":"") navbar-element'
                                hx-get='@Url.Action("Index","Login")' hx-target='#main' hx-push-url="true" hx-swap='innerHTML'
                                asp-controller="Login"  asp-action="Index">Log in</a>

                        </li>
                        }
                        else
                        {

                        if (User.IsInRole("manager"))
                        {
                        <li class="nav-item">
                            <a class='nav-link @(path.StartsWith("/manager")? "active":"") navbar-element'
                                hx-get='@Url.Action(nameof(UsersManagerController.Index),"UsersManager")'
                                hx-target='#main' hx-swap='innerHTML' hx-push-url="true" hx-indicator="#spinnerOverlay, #main"
                                asp-controller="Manager" asp-action="Index" asp-area="">Manager</a>
                        </li>
                        }
                            <a class='nav-link @(path.StartsWith("/profile")? "active":"") navbar-element'
                                hx-get='@Url.Action("Index","Profile")' hx-target='#main' hx-swap='innerHTML' hx-push-url="true"
                                data-ajax-success="mainNavHandler"asp-controller="Profile" asp-action="Index" asp-area="">@User?.FindFirstValue(AppClaimTypes.Name)
                            </a>
                        }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3 container-fluid " id="main">
             @RenderBody()
    </main>

     <div  id="spinnerOverlay" class="d-flex justify-content-center htmx-indicator">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <footer class="border-top footer mt-auto  text-muted">
        <div class="container-fluid">
            &copy; 2026 - <a href="https://tomishiko.iusevimbtw.com">Tomishiko</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
    <script src="/js/main.js" type="module"></script>
    <script src="/dist/htmx.min.js"></script>
</html>
