<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

@{string path = Context.Request.Path.Value.ToLower();}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home Server</title>
        <!--<link rel="stylesheet" rel="preload" href="/dist/bootstrap.min.css"/>-->
    <link rel="stylesheet" rel="preload" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body class="d-flex flex-column min-vh-100" data-bs-no-jquery="true">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Index" asp-action="Index">Home Server</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbar-main">
                    <ul class="nav-underline navbar-nav d-flex">
                        <li class="nav-item">
                            <a class='nav-link @(path =="/" ? "active":"")' data-ajax="true" data-ajax-action="substitute" data-ajax-container="main"
                                data-ajax-url='@Url.Action("Index","Index")' data-ajax-method="GET"
                                data-ajax-success="window.mainNavHandler" asp-controller="Index" asp-action="Index" asp-area=""  aria-current="page">Index</a>
                        @{

                        if (!User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link" data-ajax="true" data-ajax-action="substitute"
                                data-ajax-url='@Url.Action("Index","Login")' data-ajax-method="GET"
                                asp-controller="Login" data-ajax-container="main" asp-action="Index">Log in</a>

                        </li>
                        }
                        else
                        {

                        if (User.IsInRole("manager")) //Claims.Any(c => c is { Type: ClaimTypes.Role, Value: "manager" }))
                        {
                        <li class="nav-item">
                            <a class='nav-link @(path.StartsWith("/manager")? "active":"")' data-ajax="true" data-ajax-action="substitute" data-ajax-container="#main"
                                data-ajax-url='@Url.Action("Index","Manager")' data-ajax-method="GET"
                                data-ajax-success="mainNavHandler"asp-controller="Manager" asp-action="Index" asp-area="">Manager</a>
                        </li>
                        }
                            <a class='nav-link @(path.StartsWith("/profile")? "active":"")' data-ajax="true" data-ajax-action="substitute" data-ajax-container="#main"
                                data-ajax-url='@Url.Action("Index","Profile")' data-ajax-method="GET"
                                data-ajax-success="mainNavHandler"asp-controller="Profile" asp-action="Index" asp-area="">@User?.FindFirstValue(ClaimTypes.Name)
                            </a>
                        }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3 container-fluid " id="main">
             @RenderBody()
    </main>

    <footer class="border-top footer mt-auto  text-muted">
        <div class="container-fluid">
            &copy; 2025 - <a href="https://tomishiko.iusevimbtw.com">Tomishiko</a>
        </div>
    </footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
    <script src="/js/main.js" type="module"></script>
</html>
